body {
    height: 500px;
    background-image: url("/imagenes/E500.png");
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size: 100rem;
  }

  button {
    background-color: rgb(149, 158, 21); 
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display:flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    float:inline-start;
  }
  
 