body{
    background-color: #211b2b;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

form{
    height: 1000px;
    width: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y: 0px;
    
    
    background-color: rgba(105, 78, 104, 0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 100%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(138, 129, 206, 0.6);
    padding: -5px -40px;
}
form *{
font-family: 'Poppins',sans-serif;
color: #fcf6f6;
letter-spacing: 0.5px;
outline: none;
border:#100738;
}

input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
}

select *{
    font-family: 'Poppins',sans-serif;
color: #111111;
}