<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Reservas La Cumbrecita</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="img/LogoCumbrecitaAlt1.png" width="30" height="30" class="d-inline-block align-top" alt="Logo Reservas">
      Reservas La Cumbrecita
      <button type="button" class="btn btn-success">Volver al Inicio</button>
    </a>
  </nav>
 

  <img src="imagenes/E404.png" class="img-fluid" alt="error400">

</body>  

</html>