<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>La Cumbrecita Reservas</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">  
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">             
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/datepicker.css"/>
        <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/slick/slick-theme.css"/>
        <link rel="stylesheet" href="/stylealt.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/favIconLC/android-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/favIconLC/android-icon-192x192.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/favIconLC/android-icon-48x48.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/favIconLC/android-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/favIconLC/android-icon-96x96.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/favIconLC/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/favIconLC/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/favIconLC/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/favIconLC/apple-icon-152x152.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/favIconLC/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favIconLC/apple-icon-57x57.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favIconLC/apple-icon-60x60.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favIconLC/apple-icon-72x72.png">
        <link rel="manifest" href="/favIconLC/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
<body>
    

    <div th:fragment="navbar">
        <div  class="tm-main-content" id="top">
            <div class="tm-top-bar-bg"></div>    
            <div class="tm-top-bar" id="tm-top-bar">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand mr-auto" href="/">
                                <img src="/img/LogoCumbrecitaAlt1.png" alt="Logo Reservas">
                                La Cumbrecita
                            </a>
                            <button type="button" id="nav-toggle" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#mainNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="mainNav" class="collapse navbar-collapse tm-bg-white">
                                <ul class="navbar-nav ml-auto">
                                
                                <li class="nav-item">
                                    <a class="nav-link"  onclick="window.open('http://lacumbrecita.gov.ar')"
                                    target="__blank">Qué visitar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/login'" sec:authorize="!isAuthenticated()">Iniciar sesión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/signup'" sec:authorize="!isAuthenticated()">Registrate</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/lodging-list'" sec:authorize="isAuthenticated()">Ver Alojamientos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/reservation/list'" th:if="${session.sessionClient != null}">Ver Reservas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/owner'" sec:authorize="!isAuthenticated()">Registrar dueño</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/lodging'" th:if="${session.sessionOwner != null}">Agregá tu propiedad</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/#contact">Contacto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/about'" th:if="${session.sessionOwner == null}">Quiénes somos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="location.href='/logout'" sec:authorize="isAuthenticated()" >Cerrar Sesión</a>
                                </li>
                                
                                <li class="nav-item">
                                    <p class="navbar-text align-right align-bottom" sec:authorize="isAuthenticated()" >Iniciaste sesión con <span th:text="${namelog}"></span></p>
                                </li>
                               
                            </ul>
                        </div>                            
                    </nav>
                </div> 
            </div> 
        </div>
    </div>
</div>  

    <div th:fragment="footer" >
        <footer class="tm-container-outer mt-5">
        <div class="row">
                    <div class="col-md-4">
                        <h5><a href="/faq">Preguntas Frecuentes</a></h5>
                    </div>
                    <div class="col-md-4">
                        <h5><a href="/about">Quiénes Somos</a></h5>
                        <br>
                        <br>
                        <p class="mb-0">La Cumbrecita Reservas © <span class="tm-current-year">2022</span>  
                    </div>
                    <div class="col-md-4">
                        <h5><a href="http://lacumbrecita.gov.ar/" target="__blank">Información sobre el pueblo</a></h5>
                        
                    </div>
                
                    
                </div>
            </footer>
    </div>
    

    <!-- load JS files -->
    <script src="js/jquery-1.11.3.min.js"></script>             
    <script src="js/popper.min.js"></script>                      
    <script src="js/bootstrap.min.js"></script>                 
    <script src="js/datepicker.min.js"></script>                
    <script src="js/jquery.singlePageNav.min.js"></script>      
    <script src="slick/slick.min.js"></script>                  
    <script src="js/jquery.scrollTo.min.js"></script>           
    <script> 
        

        /* DOM is ready
        ------------------------------------------------*/
        $(function(){

            // Change top navbar on scroll
            $(window).on("scroll", function() {
                if($(window).scrollTop() > 100) {
                    $(".tm-top-bar").addClass("active");
                } else {                    
                 $(".tm-top-bar").removeClass("active");
                }
            });

            // Smooth scroll to search form
            $('.tm-down-arrow-link').click(function(){
                $.scrollTo('#tm-section-search', 300, {easing:'linear'});
            });

            // Date Picker in Search form
            var pickerCheckIn = datepicker('#inputCheckIn');
            var pickerCheckOut = datepicker('#inputCheckOut');

            // Update nav links on scroll
            $('#tm-top-bar').singlePageNav({
                currentClass:'active',
                offset: 60
            });

            // Close navbar after clicked
            $('.nav-link').click(function(){
                $('#mainNav').removeClass('show');
            });

            // Slick Carousel
            $('.tm-slideshow').slick({
                infinite: true,
                arrows: true,
                slidesToShow: 1,
                slidesToScroll: 1
            });
        });

        
    </script> 
    
</body>
</html>