<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--head with sylesheets and bootstrap-->

    <head th:replace="components.html :: head">
    </head>

    <body>


        <!--El navbar-->

        <div th:replace="components.html :: navbar"></div>

        <!-- trabajar acá contenido -->

        <div class="row">

            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-justify bg-light">

                <br>

                <h2>PREGUNTAS FRECUENTES</h2>

                <hr>

                <br>
                <br>

                <h4>AYUDA CORONAVIRUS</h4>

                <br>

                <h5>¿Dónde puedo encontrar la información más reciente sobre mi reserva?</h5>

                <p>La situación cambia cada día. Para encontrar la información más reciente sobre tu reserva o contactar con
                    nosotros, inicia sesión en tu cuenta de Cumbrecita Reservas. Ten en cuenta que, a causa de las circunstancias
                    actuales, responder a tus preguntas y peticiones puede llevarnos más tiempo del habitual. Agradecemos tu
                    paciencia.</p>

                <br>

                <h5>¿Cómo puedo modificar o cancelar mi reserva en esta situación?</h5>

                <p>La mejor manera de obtener ayuda es iniciando sesión en tu cuenta de Cumbrecita Reservas.
                    Si tu reserva ya no se puede cancelar gratis o es no reembolsable, quizá tengas que pagar un cargo de
                    cancelación. Puedes contactar con el alojamiento para ver si es posible cambiar las fechas de tu reserva o
                    cancelarla.
                    Si tu reserva se ha visto afectada por alguna situación relacionada con el coronavirus (como el cierre de
                    fronteras o las limitaciones de viaje impuestas por las autoridades) y ya no se puede cancelar gratis o es no
                    reembolsable, inicia sesión para consultar qué opciones tienes.
                </p>

                <hr>

                <br>
                <br>

                <h4>CANCELACIONES</h4>

                <br>

                <h5>¿Puedo anular mi reserva?</h5>

                <p>Sí, el alojamiento es el encargado de determinar los cargos de cancelación, que podrás consultar en tu reserva.
                    Cualquier tipo de gasto adicional lo pagarás al alojamiento.</p>

                <br>

                <h5>Si anulo mi reserva, ¿se me realizará algún cargo?</h5>

                <p>Si tienes una reserva con cancelación gratis, no pagarás ningún cargo de cancelación. Si tu reserva ya no se
                    puede
                    cancelar gratis o no es reembolsable, pagarás el cargo de cancelación. El alojamiento es el encargado de
                    determinar
                    los cargos de cancelación. Cualquier tipo de gasto adicional lo pagarás al alojamiento.</p>

                <br>
               
                <h5>¿Puedo anular o cambiar las fechas de una reserva no reembolsable?</h5>

                <p>Cancelar una reserva no reembolsable suele tener un coste. Sin embargo, puedes solicitar cancelación gratis al
                    gestionar tu reserva. El alojamiento recibirá la petición y decidirá si te ofrece cancelación gratis. No se
                    pueden
                    modificar las fechas de una reserva no reembolsable, pero sí podrás volver a reservar para las fechas que
                    quieras si
                    aceptan tu solicitud de cancelación gratis.</p>
                
                <hr>
                
                <br>
                <br>

                <h4>FORMAS DE PAGO</h4>
                
                <br>
                
                <h5>¿Qué formas de pago se aceptan?</h5>
                
                <p>Mercado Pago es la forma de pago de los alojamientos de Cumbrecita Reservas.
                    En la confirmación de la reserva verás las formas de pago que acepta tu alojamiento. Si quieres que te confirmen
                    alguna, puedes llamar directamente al alojamiento.</p>
                
                <br>

                <h5>¿Puedo pagar por adelantado o con un depósito?</h5>
                
                <p>Algunos alojamientos solicitan un pago por adelantado (o depósito) antes de la estancia. Dicho pago puede
                    representar el importe total o parcial de tu reserva. Cuando es parcial, se paga el importe restante en el
                    alojamiento.
                    Hay alojamientos que no exigen pago por adelantado, por lo que pagarás el importe total en el alojamiento. Para
                    más
                    información, te recomendamos que compruebes las condiciones de pago en la confirmación de tu reserva.</p>

                <br>
                
                <h5>Ya me han cobrado. ¿Tengo que hacer algo?</h5>
                
                <p>En la mayoría de casos, no hace falta que hagas nada. Como se indica en las condiciones de pago de tu reserva,
                    probablemente se trate de un pago por adelantado del total o de parte del importe de la reserva.
                    Si en las condiciones de pago no hay mención al pago por adelantado, puede que el alojamiento haya hecho un pago
                    de
                    prueba. Se trata de una retención temporal que se te devolverá y que sirve para garantizar tu reserva.
                    Si todavía te parece que es un error, ponte en contacto con nosotros para que te ayudaremos. Solo podremos
                    ponernos
                    en contacto con el alojamiento de tu parte si nos envías un comprobante del cargo.</p>

                <hr>

                <br>
                <br>
                
                <h4>DATOS DE LA RESERVA</h4>

                <br>
                
                <h5>¿Cómo puedo recibir más información sobre la habitación o servicios del alojamiento?</h5>

                <p>En la confirmación de tu reserva encontrarás los datos sobre las instalaciones y servicios de tu alojamiento.</p>

                <br>
                
                <h5>¿Cuál es la diferencia entre una Casa y una Habitación?</h5>

                <p>Una casa es considerado un tipo de hospedaje que cuenta con una o varias habitaciones, baño, cocina y comedor,
                    por
                    ejemplo, una cabaña.
                    Una habitación es un tipo de hospedaje que cuenta sólo con una habitación dormitorio y baño. Puede ser un hotel,
                    hostel, o alquiler de habitación de una casa.</p>

                <br>
                
                <h5>No encuentro mi e-mail de confirmación. ¿Qué debo hacer?</h5>
                
                <p>Mira en tu bandeja de entrada y en las carpetas de correo no deseado o spam. Si sigues sin encontrar la
                    confirmación
                    contáctate y te lo reenviamos.</p>

                <hr>

                <br>
                <br>
                
                <h4>TIPOS DE HABITACION</h4>

                <br>
                
                <h5>¿Qué significa "no reembolsable" o "cancelación gratis"?</h5>
                
                <p> Cada habitación o alojamiento tiene unas condiciones distintas que establece el propio alojamiento.
                    "No reembolsable" significa se aplicarán cargos si cancelas o modificas la reserva. Este cargo se indica en las
                    condiciones durante el proceso de reserva y en la confirmación de la reserva.
                    "Cancelación gratis" significa que puedes cambiar o modificar la reserva de forma gratuita, si se hace dentro
                    del
                    plazo establecido por el alojamiento (por ejemplo, "puedes cancelar hasta x días" o "puedes cancelar antes del
                    dd/mm/aa hh:mm"). Este plazo se indica en las condiciones durante el proceso de reserva y en la confirmación de
                    la
                    reserva.</p>
                
                <br>
                
                <h5>¿Cuál es la diferencia entre una Casa y una Habitación?</h5>
                
                <p> Una casa es considerado un tipo de hospedaje que cuenta con una o varias habitaciones, baño, cocina y comedor.
                    por
                    ejemplo una cabaña.</p>

                <hr>

                <br>
                <br>
                
                <h4>PRECIOS</h4>
                
                <br>
                
                <h5>¿Qué incluye el precio?</h5>
                
                <p>Todas las instalaciones y servicios que aparecen debajo del tipo de habitación o alojamiento están incluidos en
                    la
                    tarifa. También puedes ver si el desayuno, los impuestos y otros cargos están incluidos al comparar distintas
                    opciones. Después de reservar, esta información también aparece en el e-mail de confirmación y en el apartado de
                    reservas de tu cuenta.</p>
                
                <br>
                
                <h5>¿Cumbrecita Reservas cobra cargos por reserva?</h5>
                
                <p>No, no cobramos comisiones de ningún tipo.</p>
                
                <br>
                
                <h5>¿Los niños pagan lo mismo que los adultos?</h5>
                
                <p> Al reservar, puedes ver las condiciones para estancias con niños en el apartado "Léeme" de la página del
                    alojamiento.
                    Los suplementos de los niños no están incluidos en el precio de la reserva.
                    Al reservar, puedes pedir una cama supletoria o una cuna en el cuadro de peticiones especiales.
                    Si ya has reservado, puedes pedir camas supletorias o cunas haciendo clic en el enlace que aparece en el e-mail
                    de
                    confirmación de la reserva.
                    Es recomendable que te pongas en contacto con el alojamiento antes de llegar para asegurarte de que tienen camas
                    supletorias o cunas. Encontrarás los datos de contacto en el e-mail de confirmación y en el apartado de reservas
                    de
                    tu cuenta.</p>
                
                <br>
                
                <h5>¿Puedo utilizar vales de descuento? (De revistas, tiendas etc.)</h5>
                
                <p>No a través de nuestra página. Deberás seguir los procedimientos indicados por la empresa emisora del vale.</p>

                <hr>

                <br>
                <br>
                
                <h4>CONDICIONES DE ALOJAMIENTO</h4>
                
                <br>
                
                <h5>Quiero hacer el registro de salida después de la hora prevista. ¿Qué tengo que hacer?</h5>
                
                <p>Cuando llegues, puedes pedir al alojamiento salir más tarde de lo habitual. Ten en cuenta que depende de la
                    disponibilidad durante tu estancia.</p>
                
                <br>
                
                <h5>¿Cuál es el horario de entrada (check-in) y de salida (check-out)?</h5>
                
                <p> El horario de check-in y check-out varía según el alojamiento. Al reservar, puedes ver estos horarios en el
                    apartado
                    "Léeme" de la página del alojamiento. Si ya has reservado, encontrarás esta información en el e-mail de
                    confirmación
                    y al iniciar sesión en tu cuenta.</p>
                
                <br>
                
                <h5>¿Cómo sé si el alojamiento admite mascotas?</h5>
                
                <p>Las condiciones sobre mascotas están en el apartado "Léeme" de la página del alojamiento.</p>
            
                <br>
                
            </div>
        </div>
        <div class="col-lg-2"></div>
        <!-- footer -->

        <div th:replace="components.html :: footer"></div>

        <!-- load JS files -->
        <script src="js/jquery-1.11.3.min.js"></script>             
        <script src="js/popper.min.js"></script>                      
        <script src="js/bootstrap.min.js"></script>                 
        <script src="js/datepicker.min.js"></script>                
        <script src="js/jquery.singlePageNav.min.js"></script>      
        <script src="slick/slick.min.js"></script>                  
        <script src="js/jquery.scrollTo.min.js"></script>           
        <script> 


            /* DOM is ready
            ------------------------------------------------*/
            $(function(){

            // Change top navbar on scroll
            $(window).on("scroll", function() {
            if($(window).scrollTop() > 100) {
            $(".tm-top-bar").addClass("active");
            } else {                    
            $(".tm-top-bar").removeClass("active");
            }
            });

            // Smooth scroll to search form
            $('.tm-down-arrow-link').click(function(){
            $.scrollTo('#tm-section-search', 300, {easing:'linear'});
            });

            // Date Picker in Search form
            var pickerCheckIn = datepicker('#inputCheckIn');
            var pickerCheckOut = datepicker('#inputCheckOut');

            // Update nav links on scroll
            $('#tm-top-bar').singlePageNav({
            currentClass:'active',
            offset: 60
            });

            // Close navbar after clicked
            $('.nav-link').click(function(){
            $('#mainNav').removeClass('show');
            });

            // Slick Carousel
            $('.tm-slideshow').slick({
            infinite: true,
            arrows: true,
            slidesToShow: 1,
            slidesToScroll: 1
            });
            });
        </script>  

    </body>

</html>
