<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="styles.css">
    <title>La Cumbrecita.</title>
</head>
<body>
    
<header class="main-header">
    <nav class="main-nav">
        <div class="logo">
            <span></span>
        </div>
        
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/signup'">Registrar</button>
            <button onclick="location.href='owner/signup'">Registrar dueño</button>
            <button onclick="location.href='/lodging/create'">Cargar lodging</button>
            <button onclick="location.href='/lodging/list'">ver lodging</button>
        
    </nav>
    <div class="content-header">
        <h1>La Cumbrecita.</h1>
        <p>La mejor forma de conocer las sierras de las cumbres de cordoba y al mejor precio</p>
        <a href="reserva.html">Reservar Ahora</a>
    </div>
    
    
</header>    
</body>
</html>