
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar la Propiedad</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/styleform.css" />


</head>
<body>
    
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
  
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="imagenes/LogoCumbrecitaAlt2.png" width="50" height="50" class="d-inline-block align-top" alt="">
      <button type="button" class="btn btn-outline-success">Volver al Inicio</button>
    </a>
  </nav>
  <br>
  <br>
 
    <span class="border">
  <form>
  <div class="row">

    <div class="col-lg-2"></div>
    <div class="col-lg-10">

    <form th:action="@{/lodging/save}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        <div class="col-lg-6">
          <br>
            <h3>Registrar la Propiedad</h3>
              </div>
     <br>
      
      <div class="form-group">
        <label class="col-lg-8 control-label">Nombre</label>
        <div class="col-lg-6">
        <input type="text"  class="form-control" placeholder="Ingresar Nombre de la Propiedad" name="name" required>
        </div>
      </div>
      
      <div class="form-group">
        <label class="col-lg-8 control-label">Dirección</label>
        <div class="col-lg-6">
        <input type="text"  class="form-control" placeholder="Calle, Número y Ciudad" name="address" required>
        </div>
      </div>
      
      
    <br>
    <div class="col-lg-6">
        <h4>Datos del Alojamiento</h4>
          </div>
    <div class="col-lg-6">    
    <select class="custom-select">
        <option selected>Seleccione el tipo de Alojamiento a Publicar</option>
        <option value="1">Casa</option>
        <option value="2">Habitación</option>
    </select>
    <select name="index" class="custom-select">
      <option th:each="typeIndex : ${types}" th:value="${typeIndex}" th:text="${typeIndex}"></option>
  </select>

</div>
<div class="form-group">
  <label class="col-lg-8 control-label">Cantidad máxima de personas que aloja</label>
  <div class="col-lg-6">
  <input type="number"  class="form-control" placeholder="Indique cantidad máxima de personas" name="capacity" required>
  
</div>

    <div class="form-group">
        <label class="col-lg-8 control-label">Precio por noche</label>
        <div class="col-lg-6">
        <input type="number"  class="form-control" placeholder="Ingrese tarifa por noche" name="ppnigth" required>
        </div>
    
    
        <div class="col-lg-6">
        <label for="photolist"><b>Fotos</b></label>
            <input type="file" name="photolist">
        </div>
    <br>
    <br>
      <div class="form-group">
        <div class="col-lg-6 control-label">
          <button type="submit" class="btn btn-success center">Cargar Alojamiento</button>
          <button type="submit" class="btn btn-danger center">Cancelar</button>
        </div>
      </div>
    </div>
    </div>
</div>
</form>
</span>
</body>
</html>






