<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/lodging/save}" method="POST" enctype="multipart/form-data">
            <h3>Registra tu propiedad</h3>

            <label for="name"><b>Nombre</b></label>
            <input type="text" placeholder="Enter name" name="name" required>

            <label for="address"><b>Direccion</b></label>
            <input type="text" placeholder="Street name + number" name="address" required>

            <label for="type"><b>Tipo</b></label>
            <select name="type">
                <option value="0">Casa</option>
                <option value="1">Habitacion</option>
            </select>

            <label for="capacity"><b>Capacidad</b></label>
            <input type="number" placeholder="Enter capacity" name="capacity" required>

            <label for="ppnigth"><b>Precio p/noche</b></label>
            <input type="number" placeholder="Enter price" name="ppnigth" required>
            
            <label for="desc"><b>Descripcion del alojamiento</b></label>
            <textarea id="desc" name="desc" rows="10" cols="15"></textarea>

            <label for="photolist"><b>Fotos</b></label>
            <input type="file" name="photolist" id="img" />


            <!--
              <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
            -->
            <div class="clearfix">
                <button type="button" class="cancelbtn">Cancelar</button>
                <button type="submit" class="signupbtn">Cargar Alojamiento</button>
            </div>


        </form>
    </body>
</html>
